<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tablaeu_AutoIT/src/run/Download_through_IE11_and_MS_Edge_to_verify_certificate_signing.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="run.Download_through_IE11_and_MS_Edge_to_verify_certificate_signing"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tablaeu_AutoIT"/>
</launchConfiguration>
