<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Tablaeu_AutoIT/src/run/Verify_EULA_is_correct_for_build_type.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="run.Verify_EULA_is_correct_for_build_type"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Tablaeu_AutoIT"/>
</launchConfiguration>
